@import url('../font/iconfont.css');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: #ff8b8b;
}
.one,
.two {
  background-color: #000000;
  color: #fff;
}
.one {
  height: 50px;
  border-bottom: 0.1px solid #fff;
}
.one ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
}
.one ul li {
  list-style: none;
  margin: 0 10px;
}
.one ul li i {
  font-size: 30px;
}
.two {
  height: 80px;
}
.two ul {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.two ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.two ul li i {
  font-size: 25px;
}
.two ul li span {
  font-size: 16px;
}
.two ul li.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.two ul li.logo img {
  width: 50px;
  margin-right: 8px;
}
.two ul li.logo h1 {
  font-size: 20px;
}
.three {
  width: 100%;
  position: absolute;
  bottom: 55px;
  background-color: #ff8b8b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.three div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.three div img {
  margin-bottom: 20px;
  width: 143px;
}
.three div h1 {
  font-size: 50px;
}
