@font-face {
  font-family: "iconfont"; /* Project id 3571740 */
  src: url('iconfont.woff2?t=1659778143510') format('woff2'),
       url('iconfont.woff?t=1659778143510') format('woff'),
       url('iconfont.ttf?t=1659778143510') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitch:before {
  content: "\e72d";
}

.icon-news:before {
  content: "\e8f1";
}

.icon-shouye:before {
  content: "\e630";
}

.icon-youxi:before {
  content: "\e602";
}

.icon-twitter:before {
  content: "\e882";
}

.icon-gouwu:before {
  content: "\e610";
}

.icon-yonghu:before {
  content: "\e616";
}

.icon-youxi1:before {
  content: "\e69e";
}

.icon-shipin:before {
  content: "\e619";
}

.icon-douyin:before {
  content: "\e8db";
}

