<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../font/iconfont.css">
  <link rel="stylesheet" href="../css/lb.css">

  <link rel="stylesheet" href="../css/style.css">
  <style>
    html,
    body {
      min-width: 1200px;
    }
  </style>

  <!-- login -->
  <link rel="stylesheet" href="../css/loginStyle.css">
</head>

<body>

  <!-- 第一行 -->
  <div class="one">
    <ul>
      <li><i class="iconfont icon-twitter"></i></li>
      <li><i class="iconfont icon-shipin"></i></li>
      <li><i class="iconfont icon-twitch"></i></li>
      <li><i class="iconfont icon-douyin"></i></li>
      <li class="login"><a href="">LOGIN</a></li>
    </ul>
  </div>
  <!-- 第二行 -->
  <div class="two">
    <ul>
      <li class="logo">
        <img src="../img/logo.png" alt="">
        <h1>UNDECIDED E-SPORTS</h1>
      </li>
      <li>
        <!-- <i class="iconfont icon-youxi"></i> -->
        <span>Teams</span>
      </li>
      <li>
        <!-- <i class="iconfont icon-news"></i> -->
        <span>News</span>
      </li>
      <li>
        <!-- <i class="iconfont icon-yonghu"></i> -->
        <span>Partners</span>
      </li>
      <li>
        <!-- <i class="iconfont icon-gouwu"></i> -->
        <span>Shops</span>
      </li>
    </ul>
  </div>

  <!-- 内容 -->
  <div class="login-box">
    <div class="box">
      <h1>LOGIN</h1>
      <div class="form">
        <input id="email" type="text" placeholder="Email">
        <input id="password" type="password" placeholder="Password">
        <button id="submit">Login</button>
        <p>New to Undecided Esport? <a href="./register.html">Create an Account</a></p>
      </div>
    </div>
  </div>



  <!-- 内容部分 -->
  <div class="three">
  </div>

  <script src="../js/login.js"></script>
</body>

</html>