<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../font/iconfont.css">
  <link rel="stylesheet" href="../css/lb.css">

  <link rel="stylesheet" href="../css/style.css">
  <style>
    html,
    body {
      min-width: 1200px;
    }
  </style>
  <!-- login -->
  <link rel="stylesheet" href="../css/loginStyle.css">
</head>

<body>

  <!-- 第一行 -->
  <div class="one">
    <ul>
      <li><i class="iconfont icon-twitter"></i></li>
      <li><i class="iconfont icon-shipin"></i></li>
      <li><i class="iconfont icon-twitch"></i></li>
      <li><i class="iconfont icon-douyin"></i></li>
      <li class="login"><a href="./Login.html">LOGIN</a></li>
    </ul>
  </div>
  <!-- 第二行 -->
  <div class="two">
    <ul>
      <li class="logo">
        <img src="../img/logo.png" alt="">
        <h1>UNDECIDED E-SPORTS</h1>
      </li>
      <li>
        <!-- <i class="iconfont icon-youxi"></i> -->
        <span>Teams</span>
      </li>
      <li>
        <!-- <i class="iconfont icon-news"></i> -->
        <span>News</span>
      </li>
      <li>
        <!-- <i class="iconfont icon-yonghu"></i> -->
        <span>Partners</span>
      </li>
      <li>
        <!-- <i class="iconfont icon-gouwu"></i> -->
        <span>Shops</span>
      </li>
    </ul>
  </div>

  <!-- 内容 -->
  <div class="login-box">
    <div class="box">
      <h1>CREATE ACCOUNT</h1>
      <div class="form">
        <input type="text" id="first" placeholder="FIRST NAME">
        <input type="text" id="last" placeholder="LAST NAME">
        <input type="text" id="email" placeholder="EMAIL NAME">
        <input type="text" id="password" placeholder="PASSWORD NAME">
        <p>
          <input type="radio" name="" id="choice">
          <a href="">
            I want to recelve Undecided esports’lastestnews via my email
          </a>
        </p>
        <button id="submit">CREATE</button>
      </div>
    </div>
  </div>



  <!-- 内容部分 -->
  <div class="three">
  </div>

  <script src="../js/register.js"></script>

</body>

</html>